.bw-section__projects
{
	.container-fluid
	{
		padding-right: 0;
		padding-left: 0;
	}

	&-wrap
	{
		padding: 0 0 100px;
	}

	&-list
	{
		margin-bottom: 50px;


		&-button
		{
			text-align: center;
		}
	}
}