.bw-recent-works
{
	&__slider
	{
		margin-top: 30px;


		&-controls
		{
			position: relative;
			height: 100%;
			min-height: 30px;
		}


		&-link
		{
			color: #202a36;
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 15px;
			font-weight: 400;
			text-transform: uppercase;
			text-decoration: none;
			position: absolute;
			right: 0;
			bottom: 0;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
			-moz-opacity: 0.4;
			-khtml-opacity: 0.4;
			opacity: 0.4;


			&:hover
			{
				color: #202a36;
				text-decoration: none;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				-moz-opacity: 1;
				-khtml-opacity: 1;
				opacity: 1;
			}
		}


		&-item
		{
			min-height: 400px;
			background-color: #f9f9f9;
			background-repeat: no-repeat;
			background-position: 50% 0;
			background-size: cover;
			display: block;


			&:hover
			{
				box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.50);
				position: relative;
				z-index: 100;
			}
		}


		.container-fluid
		{
			padding-right: 0;
			padding-left: 0;
		}
	}
	

	&__wrap
	{
		background-color: #fff;
		padding: 100px 0 50px;
	}
}